.Side {
  height: 100%;
  box-shadow: 4px 0 12px #CCC;

  .newTopicBtn {
      margin-top: 1rem;
      width: 100%;
      border: 0;
      border-radius: 0;
      font-weight: bold;
      cursor: pointer;
  }

  .el-input {
      i {
        cursor: pointer;
      }

      input {
          border-radius: 0;
          border: none;
      }
  }

  label.title {
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 1rem 0;
  }
}